{% extends 'index_base.html' %}
{% block pagetitle %}Analotics{% endblock %}
{% block nav_slide2 %}<span class="text">PEOPLE</span>{% endblock %}
{% block nav_slide3 %}<span class="text">BUSINESSES</span>{% endblock %}
{% block nav_slide4 %}<span class="text">INSTITUTIONS</span>{% endblock %}
{% block intro_title %}Parking <span class="font-semibold">simplified.</span>{% endblock %}
{% block intro_text %}Analotics monitors and analyzes your parking data to make finding spaces smarter.{% endblock %}
{% block audience_alpha %}BUSINESSES{% endblock %}
{% block audience_beta %}INSTITUTIONS{% endblock %}
{% block audience_gamma %}PEOPLE{% endblock %}
{% block slide2_title %}How does it work?{% endblock %}
{% block slide2_paragraph %}We use low cost cameras at the entrances and exits of parking lots to track available spaces and calculate usage times per car. This makes it easier to find parking, pay for it, enforce it, improve lots that are in high demand, and reward frequent customers.{% endblock %}
{% block slide3_title %}We’ll find you a parking spot so you don’t have to.{% endblock %}
{% block slide3_paragraph %}Your time is valuable. Simply check the app before parking. We’ll tell you which lots have spaces and their associated cost. {% endblock %}
{% block slide4_title %}Never lose a parking ticket again.{% endblock %}
{% block slide4_paragraph %}Register your license plate with Analotics and receive the charge online or pay it automatically. No more scraping for change at the exit.{% endblock %}
{% block slide5_title %}Don’t let parking problems drive away your business.{% endblock %}
{% block slide5_paragraph %}Use Analotics to visualize your customers’ trends. Keep track of average visit time and peak hours, and returning customers with parking deals to promote consumer loyalty.{% endblock %}
{% block slide6_title %}Efficient and sustainable parking enforcement.{% endblock %}
{% block slide6_paragraph %}Automatically ticket cars without permits, fully utilize current parking resources, and accurately track lot usage.{% endblock %}

